@page "/modules"

@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using GrotInventorySystem.Data
@using GrotInventorySystem.Domain.Entities
@using GrotInventorySystem.Domain.Enums
@using GrotInventorySystem.Services

@inject ApplicationDbContext Db
@inject EventLogService EventLogService

<h3>Lista modułów</h3>

<a href="/module-create">Dodaj moduł</a>

@if (ModulesList.Count == 0)
{
    <p><b>Brak modułu w ewidencji!</b></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Numer seryjny</th>
                <th>Lokalizacja</th>
                <th>Edytuj</th>
                <th>Archiwizuj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in ModulesList)
            {
                <tr>
                    <td>@module.Name</td>
                    <td>@module.SerialNumber</td>
                    <td>@module.Location?.Name</td>
                    <td><a href="/module-edit/@module.Id">Edytuj</a></td>
                    <td><button @onclick="() => ArchiveModule(module.Id)">Archiwizuj</button></td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<Module> ModulesList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        ModulesList = await Db.Modules
            .Include(m => m.Location)
            .Where(m => m.Status == ModuleStatus.Active)
            .OrderBy(m => m.SerialNumber)
            .ToListAsync();
    }

    private async Task ArchiveModule(Guid Id)
    {
        var module = await Db.Modules.FindAsync(Id);

        if (module == null) return;

        module.Status = ModuleStatus.Archived;

        await Db.SaveChangesAsync();
        await EventLogService.LogAsync($"Zarchwizowano moduł {module.SerialNumber}");
        await LoadDataAsync();
    }
}