@page "/weapons"

@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using GrotInventorySystem.Data
@using GrotInventorySystem.Domain.Entities
@using GrotInventorySystem.Domain.Enums

@inject ApplicationDbContext Db

<h3>Lista broni</h3>

<a href="/weapon-create">Dodaj broń</a>

@if (WeaponsList.Count == 0)
{
    <p><b>Brak broni w ewidencji!</b></p>
}
else
{
    <table>
        <thead>         
            <tr>        
                <th>Numer seryjny</th>
                <th>Lokalizacja</th>
                <th>Edytuj</th>
                <th>Archiwizuj</th>
            </tr>
        </thead>
        <tbody>   
            @foreach (var weapon in WeaponsList)
            {
                <tr>        
                    <td>@weapon.SerialNumber</td>
                    <td>@weapon.Location.Name</td>
                    <td><a href="/weapon-edit/@weapon.Id">Edytuj</a></td>
                    <td><button @onclick="() => ArchiveWeapon(weapon.Id)">Archiwizuj</button></td>
                </tr>
            }
        </tbody>
            
    </table>
}

@code {
    private List<Weapon> WeaponsList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        WeaponsList = await Db.Weapons
            .Include(w => w.Location)
            .Where(w => w.Status == WeaponStatus.Active)
            .OrderBy(w => w.SerialNumber)
            .ToListAsync();
    }

    private async Task ArchiveWeapon(Guid Id)
    {
        var weapon = await Db.Weapons.FindAsync(Id);

        if (weapon == null) return;

        weapon.Status = WeaponStatus.Archived;

        await Db.SaveChangesAsync();
        await LoadDataAsync();
    }
}