@page "/weapon-create"

@using Microsoft.EntityFrameworkCore
@using GrotInventorySystem.Data
@using GrotInventorySystem.Domain.Entities

@inject ApplicationDbContext Db

<h3>Dodaj broń</h3>

@if (!string.IsNullOrWhiteSpace(Message))
{
    <p><b>@Message</b></p>
}

    <div>
        <label>Numer seryjny:</label><br />
        <input @bind="SerialNumber"/>
    </div>

    <div style="margin-top: 10px;">
        <label>Lokalizacja:</label><br />
        <select @bind="SelectLocationId">
            <option value="">-- wybierz lokalizację --</option>

            @foreach (var location in Locations)
            {
            <option value="@location.Id">@location.Name</option>
        }
        </select>
    </div>

    <div style="margin-top: 10px;">
        <button @onclick="SaveWeapon">Zapisz</button>
    </div>
    
@code {

    private List<Location> Locations { get; set; } = new();

    private string? SerialNumber { get; set; }
    private string? SelectLocationId { get; set; }
    private string? Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        Locations = await Db.Locations
            .OrderBy(l => l.Name)
            .ToListAsync();
    }

    private async Task SaveWeapon()
    {
        if (string.IsNullOrWhiteSpace(SerialNumber))
        {
            Message = "Podaj numer seryjny!";
            return;
        }

        if (string.IsNullOrWhiteSpace(SelectLocationId))
        {
            Message = "Wybierz lokalizację!";
            return;
        }

        Guid.TryParse(SelectLocationId, out var locationId);

        var weapon = new Weapon
        {
            Id = Guid.NewGuid(),
            SerialNumber = SerialNumber!,
            LocationId = locationId
        };

        Db.Weapons.Add(weapon);
        await Db.SaveChangesAsync();

        Message = "Broń została dodana!";
    }

}